/*background color: #1d2d44*/
/*text color: #eeb902*/

/*font-family: 'Aclonica', sans-serif;
font-family: 'Alegreya', serif;*/

/* GENERAL */

* {
	font-size: 18px;
}

html {
	background-color: #1d2d44;
	padding: 5rem;
}

body {
	color: #eeb902;
	font-family: 'Alegreya', serif;
}

/* TEXT */

.second-font {
	font-family: 'Aclonica', sans-serif !important;
}

.center-text {
	text-align: center;
}

a {
	color: #eeb902;
	font-weight: bolder;
}

.bold {
	font-weight: 800;
}

.italic {
	font-style: italic;
}


/* MARGINS */

.margins {
	margin: 1.5rem;
}

.m-t {
	margin-top: 1.5rem;
}

.m-tx2 {
	margin-top: 3rem;
}

.m-b {
	margin-bottom: 1.5rem;
}

/* LAYOUT */

.container {
	width: 800px;
	margin: 0 auto;
}

.flex {
	display: flex;
}

.flex-row {
	flex-direction: row
}

.flex-item {
	flex: 1;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

/* Example */
.example {
	border: 3px dashed #eeb902;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 10px;
}

/*Table*/

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #eeb902;
  padding: 0.5rem;
  text-align: left;
}

/* List */

li {
	margin-bottom: 1rem;
}

/* Navigation */

nav {
	border: 1px solid #eeb902;
	border-radius: 1.5rem;
}

.site-nav {
	list-style: none;
	display: flex;
	height: 100%;
}

.site-nav li {
	flex: 1;
	text-align: center;
	height: 100%;
	margin-bottom: 0 !important;
}

/* Responsive */

@media (max-width: 700px) {
  .container {
		width: 100%;
		margin: 0 1rem;
   }

   nav {
   		display: none;
   }

   .flex-row {
   		flex-direction: column;
   }
}




